*{
margin:0;padding:0;
}
html,body,.slidewrapper,.slides,.slides ul,.slides ul li, .motslide{
	width: 100%;
	height: 100%;
}
.slidewrapper{
	overflow: hidden;
	background-color: black;
}
.motslide{
	background-size: cover;
	opacity: 0;
	
}
ul{
	position: relative;
}
li {
	position: absolute;
}
.chuyenslide{
	position: absolute;
	bottom: 0px;
	z-index: 1;
	left: 45%;
	font-size: 60px;
	letter-spacing: 10px;
	color: gray;
}
.chuyenslide>b:hover{
	color: black;
}
h3{
	position: absolute;
	top:20%;
	right: 5%;
	z-index: 1;
	color: gray;
	
}
/*CHUYEN DONG*/
.xuathien{
	opacity: 1;
}
.bienMatKhiAnNext{
	animation: bienmat1 1s forwards;
}
@-webkit-keyframes bienmat1{
	from{transform: scale(1);opacity: 1}
	to{transform: scale(1.5);opacity: 0}
}
.hienRaKhiAnNext{
	animation: hienra1 1s forwards;
}
@-webkit-keyframes hienra1{
	from{transform: scale(0.5);opacity: 0}
	to{transform: scale(1);opacity: 1}
}
.bienMatKhiAnPre{
	animation: bienmat2 1s forwards;
}
@-webkit-keyframes bienmat2{
	from{transform: scale(1);opacity: 1}
	to{transform: scale(0.5);opacity: 0}
}
.hienRaKhiAnPre{
	animation: hienra2 1s forwards;
}
@-webkit-keyframes hienra2{
	from{transform: scale(1.5);opacity: 0}
	to{transform: scale(1);opacity: 1}
}
@media(max-width:992px){
 	.chuyenslide{
	font-size: 40px;
	letter-spacing: 5px;
	color: gray;
}
 }